.app_theme_dark {
  --bg-color: rgb(0 4 122);
  --bg-inverted-color: rgb(221 221 221);
  --primary-color: rgb(6 172 0);
  --secondary-color: rgb(8 140 3);
  --inverted-primary-color: rgb(22 60 254);
  --inverted-secondary-color: rgb(0 55 254);
}
